#app {
 
  text-align: center;
}
form {
  display: inline-grid;
  background-color: rgb(206, 206, 206);
  padding: 40px;
  text-align: start;
  border-radius: 5px;

}
h2{
  margin-top: 0px;
  padding-top: 0px;
}